.character{
	text-align:center;
	float:left;
	margin: 0 1em 1em 0;
	height:4.5em;
}

.character div{
	margin:0 0 .25em 0;
}

.number{
	
}

.options{
	color:#666;
}

.letter, .letter input{
	color:#2BA6CB;
	text-transform:uppercase;
}

.letter input{
	width:2em;
	text-align:center;
	margin:0 auto;
}