#global-controls{
	text-align:right;
	padding:1em 0 1em 0;
	right:1em;
}

@media only screen and (min-width: 767px){
	#global-controls{
		position:fixed;
		z-index:9;
	}
} 

h1#title{
	display:inline-block;
	margin-right:1em;
}

#what-is-this{
	/*margin-bottom:1em;*/
}

#logged-in-as {
	margin-bottom: 1em;
}

#logged-in-as form{
	display:inline;
}

button.link-style{
	background:none!important;
	border:none; 
    padding:0!important;

    /*optional*/
	font-size:1em;
	font-family:"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; /*input has OS specific font-family*/
    color:#2BA6CB;
    cursor:pointer;
}

#message{
	margin-top:1em;
}

button.link-style:hover{
	text-decoration:underline;
}

.character{
	text-align:center;
	float:left;
	margin: 0 .5em 2em 0;
	padding:0 0 0 .5em;
	height:4.5em;
	border-left:1px solid #fff;
	cursor: pointer
}

.character div{
	margin:0 0 .25em 0;
}

.number{
	
}

.options{
	color:#666;
}

.letter{
	color:#2BA6CB;
	text-transform:uppercase;
	height:1em;
}

.select{
	position:absolute;
	text-align:left;
}

select.word-options{
	width:10em;
}

#no-words{
	position:relative;
}

button[name="remove"]{
	color:#911;
}

.word {
	margin-right:2em;
	float:left;
}

@-webkit-keyframes blink {
	0% {border-color:#FFF;}
	50% {border-color:#2BA6CB;}
	100% {border-color:#FFF;}
}

@-moz-keyframes blink {
	0% {border-color:#FFF;}
	50% {border-color:#2BA6CB;}
	100% {border-color:#FFF;}
}

@keyframes blink {
	0% {border-color:#FFF;}
	50% {border-color:#2BA6CB;}
	100% {border-color:#FFF;}
}

.cursor {
	/*border-left:1px solid #2BA6CB;*/
	border-width:0 0 0 1px;
	border-style:solid;
	border-color:#2BA6CB;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
}